h1 {
  color: turquoise;
  font-size:50px;
  display:flex;
  justify-content:center;
}
body{
    background-color:#000033;
}
div{
    display:flex;
    justify-content:center;
}
p{
    color:white;
    display:flex;
    justify-content:center;
    font-weight:bold;
    
}