h1 {
  color: turquoise;
  font-size:50px;
  display:flex;
  justify-content:center;
}
body{
    background-color:#000033;
    background: url("https://www.cbc.ca/doczone/content/images/episodes/waethergonewiild_1280.jpg");
}

div{
    display:flex;
    justify-content:center;
}
p{
    color:white;
    display:flex;
    justify-content:center;
    font-weight:bold;
    
}
.addin{
    height:500px;
    width:500px;
}
.storm{
    text-transform:capitalize;
}